<a href="https://colab.research.google.com/github/AntonioSilvaDevJampa/Meu-primeiro-programa/blob/main/Analise_de_df1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analise de dataframe com pandas

# primeiro importar o pandas para analisar os dados

In [1]:
import pandas as pd

# importar o arquivo para analise

In [2]:
df1 = pd.read_csv('owid-co2-data.csv')

# Printar o arquivo para verificar o dataframe

In [3]:
print(df1)

      iso_code      country  year     co2  co2_per_capita  trade_co2  \
0          AFG  Afghanistan  1949   0.015           0.002        NaN
1          AFG  Afghanistan  1950   0.084           0.011        NaN
2          AFG  Afghanistan  1951   0.092           0.012        NaN
3          AFG  Afghanistan  1952   0.092           0.012        NaN
4          AFG  Afghanistan  1953   0.106           0.013        NaN
...        ...          ...   ...     ...             ...        ...
25984      ZWE     Zimbabwe  2016  10.738           0.765      1.415
25985      ZWE     Zimbabwe  2017   9.582           0.673      1.666
25986      ZWE     Zimbabwe  2018  11.854           0.821      1.308
25987      ZWE     Zimbabwe  2019  10.949           0.748      1.473
25988      ZWE     Zimbabwe  2020  10.531           0.709        NaN

       cement_co2  cement_co2_per_capita  coal_co2  coal_co2_per_capita  ...  \
0             NaN                    NaN     0.015                0.002  ...
1             NaN                    NaN     0.021                0.003  ...
2             NaN                    NaN     0.026                0.003  ...
3             NaN                    NaN     0.032                0.004  ...
4             NaN                    NaN     0.038                0.005  ...
...           ...                    ...       ...                  ...  ...
25984       0.639                  0.046     6.959                0.496  ...
25985       0.678                  0.048     5.665                0.398  ...
25986       0.697                  0.048     7.101                0.492  ...
25987       0.697                  0.048     6.020                0.411  ...
25988       0.697                  0.047     6.257                0.421  ...

       ghg_excluding_lucf_per_capita  methane  methane_per_capita  \
0                                NaN      NaN                 NaN
1                                NaN      NaN                 NaN
2                                NaN      NaN                 NaN
3                                NaN      NaN                 NaN
4                                NaN      NaN                 NaN
...                              ...      ...                 ...
25984                          2.076    11.50               0.820
25985                          2.023    11.62               0.816
25986                          2.173    11.96               0.828
25987                            NaN      NaN                 NaN
25988                            NaN      NaN                 NaN

       nitrous_oxide  nitrous_oxide_per_capita  population           gdp  \
0                NaN                       NaN   7624058.0           NaN
1                NaN                       NaN   7752117.0  9.421400e+09
2                NaN                       NaN   7840151.0  9.692280e+09
3                NaN                       NaN   7935996.0  1.001733e+10
4                NaN                       NaN   8039684.0  1.063052e+10
...              ...                       ...         ...           ...
25984           6.21                     0.443  14030338.0  2.096179e+10
25985           6.35                     0.446  14236599.0  2.194784e+10
25986           6.59                     0.456  14438812.0  2.271535e+10
25987            NaN                       NaN  14645473.0           NaN
25988            NaN                       NaN  14862927.0           NaN

       primary_energy_consumption  energy_per_capita  energy_per_gdp
0                             NaN                NaN             NaN
1                             NaN                NaN             NaN
2                             NaN                NaN             NaN
3                             NaN                NaN             NaN
4                             NaN                NaN             NaN
...                           ...                ...             ...
25984                      46.666           3326.073           2.226
25985                      45.936           3226.617           2.093
25986                      47.502           3289.887           2.091
25987                      49.427           3374.877             NaN
25988                         NaN                NaN             NaN

[25989 rows x 60 columns]

# Printar as informações do dataframe usando o comando info

In [4]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25989 entries, 0 to 25988
Data columns (total 60 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   iso_code                             21960 non-null  object
 1   country                              25989 non-null  object
 2   year                                 25989 non-null  int64
 3   co2                                  24670 non-null  float64
 4   co2_per_capita                       24032 non-null  float64
 5   trade_co2                            4096 non-null   float64
 6   cement_co2                           12668 non-null  float64
 7   cement_co2_per_capita                12638 non-null  float64
 8   coal_co2                             17909 non-null  float64
 9   coal_co2_per_capita                  17536 non-null  float64
 10  flaring_co2                          4641 non-null   float64
 11  flaring_co2_per_capita               4640 non-null   float64
 12  gas_co2                              9245 non-null   float64
 13  gas_co2_per_capita                   9235 non-null   float64
 14  oil_co2                              21100 non-null  float64
 15  oil_co2_per_capita                   20791 non-null  float64
 16  other_industry_co2                   2208 non-null   float64
 17  other_co2_per_capita                 2208 non-null   float64
 18  co2_growth_prct                      25696 non-null  float64
 19  co2_growth_abs                       24294 non-null  float64
 20  co2_per_gdp                          15851 non-null  float64
 21  co2_per_unit_energy                  9958 non-null   float64
 22  consumption_co2                      4096 non-null   float64
 23  consumption_co2_per_capita           4096 non-null   float64
 24  consumption_co2_per_gdp              3877 non-null   float64
 25  cumulative_co2                       24670 non-null  float64
 26  cumulative_cement_co2                12668 non-null  float64
 27  cumulative_coal_co2                  17909 non-null  float64
 28  cumulative_flaring_co2               4641 non-null   float64
 29  cumulative_gas_co2                   9245 non-null   float64
 30  cumulative_oil_co2                   21100 non-null  float64
 31  cumulative_other_co2                 2208 non-null   float64
 32  trade_co2_share                      4096 non-null   float64
 33  share_global_co2                     24670 non-null  float64
 34  share_global_cement_co2              12668 non-null  float64
 35  share_global_coal_co2                17909 non-null  float64
 36  share_global_flaring_co2             4641 non-null   float64
 37  share_global_gas_co2                 9245 non-null   float64
 38  share_global_oil_co2                 21100 non-null  float64
 39  share_global_other_co2               2208 non-null   float64
 40  share_global_cumulative_co2          24670 non-null  float64
 41  share_global_cumulative_cement_co2   12668 non-null  float64
 42  share_global_cumulative_coal_co2     17909 non-null  float64
 43  share_global_cumulative_flaring_co2  4641 non-null   float64
 44  share_global_cumulative_gas_co2      9245 non-null   float64
 45  share_global_cumulative_oil_co2      21100 non-null  float64
 46  share_global_cumulative_other_co2    2208 non-null   float64
 47  total_ghg                            5651 non-null   float64
 48  ghg_per_capita                       5651 non-null   float64
 49  total_ghg_excluding_lucf             5651 non-null   float64
 50  ghg_excluding_lucf_per_capita        5651 non-null   float64
 51  methane                              5655 non-null   float64
 52  methane_per_capita                   5655 non-null   float64
 53  nitrous_oxide                        5655 non-null   float64
 54  nitrous_oxide_per_capita             5655 non-null   float64
 55  population                           22892 non-null  float64
 56  gdp                                  13469 non-null  float64
 57  primary_energy_consumption           9345 non-null   float64
 58  energy_per_capita                    9300 non-null   float64
 59  energy_per_gdp                       7149 non-null   float64
dtypes: float64(57), int64(1), object(2)
memory usage: 11.9+ MB
None

# usar o df1.isna().any() para saber se tem elementos vazios, no caso de ter será rerpresentado elo boleano True , se não será representado pelo boleano False.

In [5]:
df1.isna().any()

iso_code                                True
country                                False
year                                   False
co2                                     True
co2_per_capita                          True
trade_co2                               True
cement_co2                              True
cement_co2_per_capita                   True
coal_co2                                True
coal_co2_per_capita                     True
flaring_co2                             True
flaring_co2_per_capita                  True
gas_co2                                 True
gas_co2_per_capita                      True
oil_co2                                 True
oil_co2_per_capita                      True
other_industry_co2                      True
other_co2_per_capita                    True
co2_growth_prct                         True
co2_growth_abs                          True
co2_per_gdp                             True
co2_per_unit_energy                     True
consumption_co2                         True
consumption_co2_per_capita              True
consumption_co2_per_gdp                 True
cumulative_co2                          True
cumulative_cement_co2                   True
cumulative_coal_co2                     True
cumulative_flaring_co2                  True
cumulative_gas_co2                      True
cumulative_oil_co2                      True
cumulative_other_co2                    True
trade_co2_share                         True
share_global_co2                        True
share_global_cement_co2                 True
share_global_coal_co2                   True
share_global_flaring_co2                True
share_global_gas_co2                    True
share_global_oil_co2                    True
share_global_other_co2                  True
share_global_cumulative_co2             True
share_global_cumulative_cement_co2      True
share_global_cumulative_coal_co2        True
share_global_cumulative_flaring_co2     True
share_global_cumulative_gas_co2         True
share_global_cumulative_oil_co2         True
share_global_cumulative_other_co2       True
total_ghg                               True
ghg_per_capita                          True
total_ghg_excluding_lucf                True
ghg_excluding_lucf_per_capita           True
methane                                 True
methane_per_capita                      True
nitrous_oxide                           True
nitrous_oxide_per_capita                True
population                              True
gdp                                     True
primary_energy_consumption              True
energy_per_capita                       True
energy_per_gdp                          True
dtype: bool

# Utilizar df1.isna().sum para determinar quantos dados Nan estão em cada coluna

In [6]:
df1.isna().sum()

iso_code                                4029
country                                    0
year                                       0
co2                                     1319
co2_per_capita                          1957
trade_co2                              21893
cement_co2                             13321
cement_co2_per_capita                  13351
coal_co2                                8080
coal_co2_per_capita                     8453
flaring_co2                            21348
flaring_co2_per_capita                 21349
gas_co2                                16744
gas_co2_per_capita                     16754
oil_co2                                 4889
oil_co2_per_capita                      5198
other_industry_co2                     23781
other_co2_per_capita                   23781
co2_growth_prct                          293
co2_growth_abs                          1695
co2_per_gdp                            10138
co2_per_unit_energy                    16031
consumption_co2                        21893
consumption_co2_per_capita             21893
consumption_co2_per_gdp                22112
cumulative_co2                          1319
cumulative_cement_co2                  13321
cumulative_coal_co2                     8080
cumulative_flaring_co2                 21348
cumulative_gas_co2                     16744
cumulative_oil_co2                      4889
cumulative_other_co2                   23781
trade_co2_share                        21893
share_global_co2                        1319
share_global_cement_co2                13321
share_global_coal_co2                   8080
share_global_flaring_co2               21348
share_global_gas_co2                   16744
share_global_oil_co2                    4889
share_global_other_co2                 23781
share_global_cumulative_co2             1319
share_global_cumulative_cement_co2     13321
share_global_cumulative_coal_co2        8080
share_global_cumulative_flaring_co2    21348
share_global_cumulative_gas_co2        16744
share_global_cumulative_oil_co2         4889
share_global_cumulative_other_co2      23781
total_ghg                              20338
ghg_per_capita                         20338
total_ghg_excluding_lucf               20338
ghg_excluding_lucf_per_capita          20338
methane                                20334
methane_per_capita                     20334
nitrous_oxide                          20334
nitrous_oxide_per_capita               20334
population                              3097
gdp                                    12520
primary_energy_consumption             16644
energy_per_capita                      16689
energy_per_gdp                         18840
dtype: int64

# Fazer o tratamento dos dados preenchendo onde existe dados faltantes Nan usando o comando fillna.

In [7]:
df1.mean()

<ipython-input-7-5652d058187b>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1.mean()

year                                   1.952168e+03
co2                                    3.266583e+02
co2_per_capita                         4.115845e+00
trade_co2                             -8.124470e+00
cement_co2                             1.585364e+01
cement_co2_per_capita                  1.115863e-01
coal_co2                               2.122968e+02
coal_co2_per_capita                    1.543364e+00
flaring_co2                            1.769197e+01
flaring_co2_per_capita                 8.290545e-01
gas_co2                                1.302847e+02
gas_co2_per_capita                     1.373075e+00
oil_co2                                1.292297e+02
oil_co2_per_capita                     2.584929e+00
other_industry_co2                     1.849686e+01
other_co2_per_capita                   7.536187e-02
co2_growth_prct                        2.076005e+01
co2_growth_abs                         6.383185e+00
co2_per_gdp                            4.281910e-01
co2_per_unit_energy                    2.376108e-01
consumption_co2                        1.090100e+03
consumption_co2_per_capita             6.512170e+00
consumption_co2_per_gdp                3.677681e-01
cumulative_co2                         1.254232e+04
cumulative_cement_co2                  3.734808e+02
cumulative_coal_co2                    1.050036e+04
cumulative_flaring_co2                 5.010809e+02
cumulative_gas_co2                     3.111847e+03
cumulative_oil_co2                     4.011615e+03
cumulative_other_co2                   3.536890e+02
trade_co2_share                        2.158417e+01
share_global_co2                       5.926321e+00
share_global_cement_co2                5.382621e+00
share_global_coal_co2                  8.221248e+00
share_global_flaring_co2               6.870909e+00
share_global_gas_co2                   6.664776e+00
share_global_oil_co2                   3.669233e+00
share_global_other_co2                 1.824018e+01
share_global_cumulative_co2            6.068994e+00
share_global_cumulative_cement_co2     5.424267e+00
share_global_cumulative_coal_co2       8.434430e+00
share_global_cumulative_flaring_co2    6.541810e+00
share_global_cumulative_gas_co2        6.510023e+00
share_global_cumulative_oil_co2        3.684855e+00
share_global_cumulative_other_co2      1.743292e+01
total_ghg                              4.205205e+02
ghg_per_capita                         7.607915e+00
total_ghg_excluding_lucf               4.065114e+02
ghg_excluding_lucf_per_capita          6.870665e+00
methane                                7.907237e+01
methane_per_capita                     1.902152e+00
nitrous_oxide                          2.908863e+01
nitrous_oxide_per_capita               6.019731e-01
population                             7.068041e+07
gdp                                    2.889570e+11
primary_energy_consumption             1.425652e+03
energy_per_capita                      2.446997e+04
energy_per_gdp                         1.805888e+00
dtype: float64

In [8]:
df1.columns

Index(['iso_code', 'country', 'year', 'co2', 'co2_per_capita', 'trade_co2',
       'cement_co2', 'cement_co2_per_capita', 'coal_co2',
       'coal_co2_per_capita', 'flaring_co2', 'flaring_co2_per_capita',
       'gas_co2', 'gas_co2_per_capita', 'oil_co2', 'oil_co2_per_capita',
       'other_industry_co2', 'other_co2_per_capita', 'co2_growth_prct',
       'co2_growth_abs', 'co2_per_gdp', 'co2_per_unit_energy',
       'consumption_co2', 'consumption_co2_per_capita',
       'consumption_co2_per_gdp', 'cumulative_co2', 'cumulative_cement_co2',
       'cumulative_coal_co2', 'cumulative_flaring_co2', 'cumulative_gas_co2',
       'cumulative_oil_co2', 'cumulative_other_co2', 'trade_co2_share',
       'share_global_co2', 'share_global_cement_co2', 'share_global_coal_co2',
       'share_global_flaring_co2', 'share_global_gas_co2',
       'share_global_oil_co2', 'share_global_other_co2',
       'share_global_cumulative_co2', 'share_global_cumulative_cement_co2',
       'share_global_cumulative_coal_co2',
       'share_global_cumulative_flaring_co2',
       'share_global_cumulative_gas_co2', 'share_global_cumulative_oil_co2',
       'share_global_cumulative_other_co2', 'total_ghg', 'ghg_per_capita',
       'total_ghg_excluding_lucf', 'ghg_excluding_lucf_per_capita', 'methane',
       'methane_per_capita', 'nitrous_oxide', 'nitrous_oxide_per_capita',
       'population', 'gdp', 'primary_energy_consumption', 'energy_per_capita',
       'energy_per_gdp'],
      dtype='object')

# Criar um novo dataframe apenas das colunas numericas excluindo as colunas irrelevantes para utilizar a média para preencher com fillna

In [9]:
media = df1[[ 'co2', 'co2_per_capita', 'trade_co2',
       'cement_co2', 'cement_co2_per_capita', 'coal_co2',
       'coal_co2_per_capita', 'flaring_co2', 'flaring_co2_per_capita',
       'gas_co2', 'gas_co2_per_capita', 'oil_co2', 'oil_co2_per_capita',
       'other_industry_co2', 'other_co2_per_capita', 'co2_growth_prct',
       'co2_growth_abs', 'co2_per_gdp', 'co2_per_unit_energy',
       'consumption_co2', 'consumption_co2_per_capita',
       'consumption_co2_per_gdp', 'cumulative_co2', 'cumulative_cement_co2',
       'cumulative_coal_co2', 'cumulative_flaring_co2', 'cumulative_gas_co2',
       'cumulative_oil_co2', 'cumulative_other_co2', 'trade_co2_share',
       'share_global_co2', 'share_global_cement_co2', 'share_global_coal_co2',
       'share_global_flaring_co2', 'share_global_gas_co2',
       'share_global_oil_co2', 'share_global_other_co2',
       'share_global_cumulative_co2', 'share_global_cumulative_cement_co2',
       'share_global_cumulative_coal_co2',
       'share_global_cumulative_flaring_co2',
       'share_global_cumulative_gas_co2', 'share_global_cumulative_oil_co2',
       'share_global_cumulative_other_co2', 'total_ghg', 'ghg_per_capita',
       'total_ghg_excluding_lucf', 'ghg_excluding_lucf_per_capita', 'methane',
       'methane_per_capita', 'nitrous_oxide', 'nitrous_oxide_per_capita',
       'population', 'gdp', 'primary_energy_consumption', 'energy_per_capita',
       'energy_per_gdp']].mean()

In [10]:
df1[[ 'co2', 'co2_per_capita', 'trade_co2',
       'cement_co2', 'cement_co2_per_capita', 'coal_co2',
       'coal_co2_per_capita', 'flaring_co2', 'flaring_co2_per_capita',
       'gas_co2', 'gas_co2_per_capita', 'oil_co2', 'oil_co2_per_capita',
       'other_industry_co2', 'other_co2_per_capita', 'co2_growth_prct',
       'co2_growth_abs', 'co2_per_gdp', 'co2_per_unit_energy',
       'consumption_co2', 'consumption_co2_per_capita',
       'consumption_co2_per_gdp', 'cumulative_co2', 'cumulative_cement_co2',
       'cumulative_coal_co2', 'cumulative_flaring_co2', 'cumulative_gas_co2',
       'cumulative_oil_co2', 'cumulative_other_co2', 'trade_co2_share',
       'share_global_co2', 'share_global_cement_co2', 'share_global_coal_co2',
       'share_global_flaring_co2', 'share_global_gas_co2',
       'share_global_oil_co2', 'share_global_other_co2',
       'share_global_cumulative_co2', 'share_global_cumulative_cement_co2',
       'share_global_cumulative_coal_co2',
       'share_global_cumulative_flaring_co2',
       'share_global_cumulative_gas_co2', 'share_global_cumulative_oil_co2',
       'share_global_cumulative_other_co2', 'total_ghg', 'ghg_per_capita',
       'total_ghg_excluding_lucf', 'ghg_excluding_lucf_per_capita', 'methane',
       'methane_per_capita', 'nitrous_oxide', 'nitrous_oxide_per_capita',
       'population', 'gdp', 'primary_energy_consumption', 'energy_per_capita',
       'energy_per_gdp']] = df1[['co2', 'co2_per_capita', 'trade_co2',
       'cement_co2', 'cement_co2_per_capita', 'coal_co2',
       'coal_co2_per_capita', 'flaring_co2', 'flaring_co2_per_capita',
       'gas_co2', 'gas_co2_per_capita', 'oil_co2', 'oil_co2_per_capita',
       'other_industry_co2', 'other_co2_per_capita', 'co2_growth_prct',
       'co2_growth_abs', 'co2_per_gdp', 'co2_per_unit_energy',
       'consumption_co2', 'consumption_co2_per_capita',
       'consumption_co2_per_gdp', 'cumulative_co2', 'cumulative_cement_co2',
       'cumulative_coal_co2', 'cumulative_flaring_co2', 'cumulative_gas_co2',
       'cumulative_oil_co2', 'cumulative_other_co2', 'trade_co2_share',
       'share_global_co2', 'share_global_cement_co2', 'share_global_coal_co2',
       'share_global_flaring_co2', 'share_global_gas_co2',
       'share_global_oil_co2', 'share_global_other_co2',
       'share_global_cumulative_co2', 'share_global_cumulative_cement_co2',
       'share_global_cumulative_coal_co2',
       'share_global_cumulative_flaring_co2',
       'share_global_cumulative_gas_co2', 'share_global_cumulative_oil_co2',
       'share_global_cumulative_other_co2', 'total_ghg', 'ghg_per_capita',
       'total_ghg_excluding_lucf', 'ghg_excluding_lucf_per_capita', 'methane',
       'methane_per_capita', 'nitrous_oxide', 'nitrous_oxide_per_capita',
       'population', 'gdp', 'primary_energy_consumption', 'energy_per_capita',
       'energy_per_gdp']].fillna(media)

In [11]:
display(df1)

,iso_code,country,year,co2,co2_per_capita,trade_co2,cement_co2,cement_co2_per_capita,coal_co2,coal_co2_per_capita,...,ghg_excluding_lucf_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,primary_energy_consumption,energy_per_capita,energy_per_gdp
0,AFG,Afghanistan,1949,0.015,0.002,-8.12447,15.853638,0.111586,0.015,0.002,...,6.870665,79.072368,1.902152,29.088635,0.601973,7624058.0,2.889570e+11,1425.651569,24469.973841,1.805888
1,AFG,Afghanistan,1950,0.084,0.011,-8.12447,15.853638,0.111586,0.021,0.003,...,6.870665,79.072368,1.902152,29.088635,0.601973,7752117.0,9.421400e+09,1425.651569,24469.973841,1.805888
2,AFG,Afghanistan,1951,0.092,0.012,-8.12447,15.853638,0.111586,0.026,0.003,...,6.870665,79.072368,1.902152,29.088635,0.601973,7840151.0,9.692280e+09,1425.651569,24469.973841,1.805888
3,AFG,Afghanistan,1952,0.092,0.012,-8.12447,15.853638,0.111586,0.032,0.004,...,6.870665,79.072368,1.902152,29.088635,0.601973,7935996.0,1.001733e+10,1425.651569,24469.973841,1.805888
4,AFG,Afghanistan,1953,0.106,0.013,-8.12447,15.853638,0.111586,0.038,0.005,...,6.870665,79.072368,1.902152,29.088635,0.601973,8039684.0,1.063052e+10,1425.651569,24469.973841,1.805888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25984,ZWE,Zimbabwe,2016,10.738,0.765,1.41500,0.639000,0.046000,6.959,0.496,...,2.076000,11.500000,0.820000,6.210000,0.443000,14030338.0,2.096179e+10,46.666000,3326.073000,2.226000
25985,ZWE,Zimbabwe,2017,9.582,0.673,1.66600,0.678000,0.048000,5.665,0.398,...,2.023000,11.620000,0.816000,6.350000,0.446000,14236599.0,2.194784e+10,45.936000,3226.617000,2.093000
25986,ZWE,Zimbabwe,2018,11.854,0.821,1.30800,0.697000,0.048000,7.101,0.492,...,2.173000,11.960000,0.828000,6.590000,0.456000,14438812.0,2.271535e+10,47.502000,3289.887000,2.091000
25987,ZWE,Zimbabwe,2019,10.949,0.748,1.47300,0.697000,0.048000,6.020,0.411,...,6.870665,79.072368,1.902152,29.088635,0.601973,14645473.0,2.889570e+11,49.427000,3374.877000,1.805888
25988,ZWE,Zimbabwe,2020,10.531,0.709,-8.12447,0.697000,0.047000,6.257,0.421,...,6.870665,79.072368,1.902152,29.088635,0.601973,14862927.0,2.889570e+11,1425.651569,24469.973841,1.805888

In [12]:
df1.isna().sum()

iso_code                               4029
country                                   0
year                                      0
co2                                       0
co2_per_capita                            0
trade_co2                                 0
cement_co2                                0
cement_co2_per_capita                     0
coal_co2                                  0
coal_co2_per_capita                       0
flaring_co2                               0
flaring_co2_per_capita                    0
gas_co2                                   0
gas_co2_per_capita                        0
oil_co2                                   0
oil_co2_per_capita                        0
other_industry_co2                        0
other_co2_per_capita                      0
co2_growth_prct                           0
co2_growth_abs                            0
co2_per_gdp                               0
co2_per_unit_energy                       0
consumption_co2                           0
consumption_co2_per_capita                0
consumption_co2_per_gdp                   0
cumulative_co2                            0
cumulative_cement_co2                     0
cumulative_coal_co2                       0
cumulative_flaring_co2                    0
cumulative_gas_co2                        0
cumulative_oil_co2                        0
cumulative_other_co2                      0
trade_co2_share                           0
share_global_co2                          0
share_global_cement_co2                   0
share_global_coal_co2                     0
share_global_flaring_co2                  0
share_global_gas_co2                      0
share_global_oil_co2                      0
share_global_other_co2                    0
share_global_cumulative_co2               0
share_global_cumulative_cement_co2        0
share_global_cumulative_coal_co2          0
share_global_cumulative_flaring_co2       0
share_global_cumulative_gas_co2           0
share_global_cumulative_oil_co2           0
share_global_cumulative_other_co2         0
total_ghg                                 0
ghg_per_capita                            0
total_ghg_excluding_lucf                  0
ghg_excluding_lucf_per_capita             0
methane                                   0
methane_per_capita                        0
nitrous_oxide                             0
nitrous_oxide_per_capita                  0
population                                0
gdp                                       0
primary_energy_consumption                0
energy_per_capita                         0
energy_per_gdp                            0
dtype: int64

# Utilizar o describe para determinar os dados estatisticos do dataframe.

In [13]:
df1.describe()

,year,co2,co2_per_capita,trade_co2,cement_co2,cement_co2_per_capita,coal_co2,coal_co2_per_capita,flaring_co2,flaring_co2_per_capita,...,ghg_excluding_lucf_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,primary_energy_consumption,energy_per_capita,energy_per_gdp
count,25989.000000,25989.000000,25989.000000,25989.000000,25989.000000,25989.000000,25989.000000,25989.000000,25989.000000,25989.000000,...,25989.000000,25989.000000,25989.000000,25989.000000,25989.000000,2.598900e+04,2.598900e+04,25989.000000,25989.000000,25989.000000
mean,1952.168225,326.658348,4.115845,-8.124470,15.853638,0.111586,212.296783,1.543364,17.691973,0.829055,...,6.870665,79.072368,1.902152,29.088635,0.601973,7.068041e+07,2.889570e+11,1425.651569,24469.973841,1.805888
std,54.592939,1633.914895,14.136215,104.037996,58.770377,0.102880,716.625717,2.073970,17.924834,2.250322,...,3.389936,254.214051,1.547769,92.423117,0.415203,3.561456e+08,1.573388e+12,5247.044495,19199.384677,0.933171
min,1750.000000,0.000000,0.000000,-2232.999000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.101000,0.000000,0.000000,0.000000,0.000000,1.490000e+03,5.543200e+07,0.000000,0.000000,0.078000
25%,1922.000000,0.630000,0.301000,-8.124470,0.658000,0.072000,1.200000,0.159000,17.691973,0.829055,...,6.870665,79.072368,1.902152,29.088635,0.601973,1.746616e+06,2.836008e+10,233.870000,24469.973841,1.805888
50%,1966.000000,6.687000,1.565000,-8.124470,15.853638,0.111586,33.815000,1.543364,17.691973,0.829055,...,6.870665,79.072368,1.902152,29.088635,0.601973,6.571589e+06,2.889570e+11,1425.651569,24469.973841,1.805888
75%,1994.000000,69.389000,4.209000,-8.124470,15.853638,0.111586,212.296783,1.543364,17.691973,0.829055,...,6.870665,79.072368,1.902152,29.088635,0.601973,3.937435e+07,2.889570e+11,1425.651569,24469.973841,1.805888
max,2020.000000,36702.503000,748.639000,2047.575000,1626.371000,2.738000,15062.902000,34.184000,435.034000,94.711000,...,53.650000,8298.270000,39.795000,3078.270000,10.056000,7.794799e+09,1.136302e+14,161530.754000,308704.252000,25.253000

# Eliminar a coluna year do dataframe para permanecer apenas os dados relevantes para avaliação estatistica.

In [17]:
df2 = df1.drop('year', axis=1)
df2.describe()

,co2,co2_per_capita,trade_co2,cement_co2,cement_co2_per_capita,coal_co2,coal_co2_per_capita,flaring_co2,flaring_co2_per_capita,gas_co2,...,ghg_excluding_lucf_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,primary_energy_consumption,energy_per_capita,energy_per_gdp
count,25989.000000,25989.000000,25989.000000,25989.000000,25989.000000,25989.000000,25989.000000,25989.000000,25989.000000,25989.000000,...,25989.000000,25989.000000,25989.000000,25989.000000,25989.000000,2.598900e+04,2.598900e+04,25989.000000,25989.000000,25989.000000
mean,326.658348,4.115845,-8.124470,15.853638,0.111586,212.296783,1.543364,17.691973,0.829055,130.284718,...,6.870665,79.072368,1.902152,29.088635,0.601973,7.068041e+07,2.889570e+11,1425.651569,24469.973841,1.805888
std,1633.914895,14.136215,104.037996,58.770377,0.102880,716.625717,2.073970,17.924834,2.250322,287.836339,...,3.389936,254.214051,1.547769,92.423117,0.415203,3.561456e+08,1.573388e+12,5247.044495,19199.384677,0.933171
min,0.000000,0.000000,-2232.999000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.101000,0.000000,0.000000,0.000000,0.000000,1.490000e+03,5.543200e+07,0.000000,0.000000,0.078000
25%,0.630000,0.301000,-8.124470,0.658000,0.072000,1.200000,0.159000,17.691973,0.829055,22.233000,...,6.870665,79.072368,1.902152,29.088635,0.601973,1.746616e+06,2.836008e+10,233.870000,24469.973841,1.805888
50%,6.687000,1.565000,-8.124470,15.853638,0.111586,33.815000,1.543364,17.691973,0.829055,130.284718,...,6.870665,79.072368,1.902152,29.088635,0.601973,6.571589e+06,2.889570e+11,1425.651569,24469.973841,1.805888
75%,69.389000,4.209000,-8.124470,15.853638,0.111586,212.296783,1.543364,17.691973,0.829055,130.284718,...,6.870665,79.072368,1.902152,29.088635,0.601973,3.937435e+07,2.889570e+11,1425.651569,24469.973841,1.805888
max,36702.503000,748.639000,2047.575000,1626.371000,2.738000,15062.902000,34.184000,435.034000,94.711000,7553.394000,...,53.650000,8298.270000,39.795000,3078.270000,10.056000,7.794799e+09,1.136302e+14,161530.754000,308704.252000,25.253000